.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 10vmin);
  color: white;
  font-family: Courier, Monaco, monospace;
}

.App-link {
  color: #61dafb;
}

.App-header, .content-box {
  min-height: 100vh;
}

.fade-in {
  animation: fadeIn 5s ease-in-out;
}

.next-nav {
  color:moccasin;
  position: absolute;
  bottom: 15pt;
  right: 15pt;
}

.next-nav:hover {
  color: darkkhaki;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
